@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply leading-normal;
}
#root {
  @apply bg-primary text-black min-h-screen overflow-x-hidden relative;
}
.categories-filter {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.categories-filter::-webkit-scrollbar {
  display: none;
}


/* BUTTON */
.btn {
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btn-active {
  background-color: #000000;
  color: #fff;
}

.btn:hover {
  background-color: #6268D1;
  color: #fff;
  transform: scale(1.05);
}
