@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply leading-normal;
}
#root {
  @apply bg-primary text-black min-h-screen overflow-x-hidden relative;
}
.categories-filter {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.categories-filter::-webkit-scrollbar {
  display: none;
}
